@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your global custom styles below */
html, body, #root {
	height: 100%;
}
body {
	@apply bg-white text-gray-900;
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Toast Animation */
@keyframes slide-in {
	from {
		transform: translateX(400px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.animate-slide-in {
	animation: slide-in 0.3s ease-out;
}
